html {
    background-image: url("images/itau2.JPG");
    background-size: cover;
}

.container {
    background-color: #FFFFE0;
    max-width: 400px;
    display: flex;
    margin: 1in auto;
    padding: .5in;
    justify-content: center;
}