body {
    margin: 0px;
}

/* The sidebar menu */
@media only screen and (min-width: 840px) {
    .sidenav {
        height: 100%; /* Full-height: remove this if you want "auto" height */
        width: 25%; /* Set the width of the sidebar */
        position: fixed; /* Fixed Sidebar (stay in place on scroll) */
        z-index: 1; /* Stay on bottom */
        top: 0; /* Stay at the top */
        left: 0;
        background-color: #000030;
        overflow-x: hidden; /* Disable horizontal scroll */
        padding: 20px;
    }

    .content {
        margin-left: 25%;
    }
}
@media only screen and (max-width: 839px) {
    .sidenav {
        position: sticky;
        width: 100%;
        z-index: 1; /* Stay on bottom */
        top: 0; /* Stay at the top */
        left: 0;
        background-color: #000030;
        padding: 10px;
        padding-left: 30px;
    }

    .content {
        margin-left: 0%;
    }
}

/* .content {
    margin-top: 40px;
} */

.lb-clear {
    background-color: rgb(218, 245, 255, .60);
}

.lb {
    background-color: rgb(218, 245, 255);
}

.data {
    padding: 2%;
}

.light-text {
    color: white;
    padding: 2px;
}

.text-m {
    font-size: 24pt;
}

.text-xl {
    font-size: 48pt;
}

.top-margin {
    margin-top: 2S0px;
}

.itau {
    background-image: url("images/itau2.JPG");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 2%;
    /* background-color: rgba(255, 255, 255, 0.88);
    background-blend-mode: lighten; */
}

#weatherSubmit {
    margin: 8px;
}

#weather-pic {
    width: 78px;
}

#degrees-current {
    size: 48pt;
}


#forecast-error, #error-message {
    display: none;
}